example/aiko.yml
example/main
example/Aiko-Server
example/Aiko-Server*
example/mytest
example/access.logo
example/error.log
api/chooseparser.go.bak
app/Inboundbuilder/.lego/
app/legocmd/.lego/
.vscode/launch.json
example/.lego
example/cert
./vscode
.idea/*